@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Righteous&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-midnight {
  background-color: var(--background-color);
}

.font-raleway {
  font-family: "Raleway", sans-serif;
}

.font-righteous {
  font-family: "Righteous", cursive;
}

/* agenda section */
.agenda {
  font-family: "Raleway", cursive;
}

.agenda-hidden {
  display: none;
}

.agenda-title::before,
.agenda-title::after {
  content: "";
  position: absolute;
  transform: skew(-45deg);
  width: 100%;
  height: 100%;
  z-index: -1;
}
.agenda-title::before {
  background-color: #a3770da6;
  top: 15%;
  right: 6%;

}
.agenda-title::after {
  background-color: #ffffff33;
  right: -3%;
  top: -3.5px;
}

.agenda-btn-pressed {
    background-color: #A3770D;
    color: #00172A;
}
@media screen and (min-width: 600px) {
    .agenda-btns  {
        margin-right:7%;
        margin-left: 7%;
    }
}
@media screen and (max-width: 642px){
    .agenda-btns {
        margin-right:40px;
        margin-left: 40px;
    }
}
@media screen and (max-width: 500px) {
    .agenda Button {
        padding-right:20px;
        padding-left: 20px;
    }
}

/*end of agenda section */

.countdown-about {
  background: linear-gradient(180deg, #010103 0%, #00172a 100%);
}

.countdown {
  font-family: "Righteous", cursive;
  padding-top: 30px;
}

.about {
  font-family: "Raleway", cursive;
}


.contact-form {
  background: #00172a;
}

@media (min-width: 768px) {
  .md\:w-45\/100 {
    width: 48%;
  }
}

.name-form,
.email-form,
.subject-form,
.message-form {
  border: 1px solid white;
  background-color: transparent;
}

.submit-form {
  background-color: #a3770da6;
  color: #00172a;
  font-family: "Righteous", cursive;
  font-size: 30px;
}

.newsletter-form {
  background-color: #a3770da6;
  color: #00172a;
  font-family: "Righteous", cursive;
}

.footer {
  background-color: #00172a;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
}
.font-righteous {
  font-family: "Righteous", cursive;
}

/* speakers section  */
.speakers {
    --background-color: #00172a;
  }
  .speakers-title::before,
  .speakers-title::after {
    content: "";
    position: absolute;
    transform: skew(-45deg);
    width: 180%;
    height: 95%;
    z-index: -1;
  }
  .speakers-title::before {
    background-color: #a3770da6;
    top: 15%;
    left: -50%;
  }
  .speakers-title::after {
    background-color: #ffffff33;
    left: -35%;
    top: -2px;
  }

  @media screen and (min-width: 768px) {
    .shadow-top-down::before,
    .shadow-top-down::after {
      content: "";
      position: absolute;
      width: 98%;
      height: 100px;
      left: 0;
      background: linear-gradient(180deg, #00172a 0%, rgba(0, 23, 42, 0) 326.31%);
    }
    /* .shadow-top-down::before {
      top: 8px;
    } */
    .shadow-top-down::after {
      bottom: -35px;
    }
  }

  .speakers-list {
    overflow: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }
  .speakers-list .speaker {
    scroll-snap-align: center;
  }

  .speakers-list::-webkit-scrollbar {
    width: 10px;
    background: rgba(196, 196, 196, 0.05);

    border-radius: 10px;
  }

  .speakers-list::-webkit-scrollbar-thumb {
    background: rgba(196, 196, 196, 0.45);
    border-radius: 10px;
    padding: 10px;
  }

  @media screen and (min-width: 768px) {
    .speaker:nth-child(even) .speaker-info {
      order: 2;
      margin-right: 3rem;
    }

    .speaker:nth-child(even) .speaker-img {
      order: 1;
      margin-left: 0;
      margin-right: 2rem;
    }
  }

  /* end of speakers section */

  /* Faq section */
  .answer, .question {
    font-family: "Raleway", cursive;
  }
  /* end of Faq section */

  /* navbar */

  .navbar-fixed-top.scrolled {
    background-color: #02121F !important;
    transition: background-color 500ms ease;
  }

  /* end of navbar */

  /* hero section */

  .hero{
    color:white;
    height: 110vh;
    width: 100%;
    background-image: url("assets/background/hacker-working-in-the-darkness-1.png");
    text-align: center;
    background-size: cover;
  }

  /* end of hero Section */

  body {
    transition: 0.3s all;
  }

  /* Form validation */

  #contact-form .form #sendmessage {
    color: #A3770D;
    border: 1px solid #A3770D;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 35px;
    width: 75%;
  }
  
  #contact-form .form #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  #contact-form .form #sendmessage.show,
  #contact-form .form #errormessage.show,
  #contact-form .form .show {
    display: block;
  }
  
  #contact-form .form .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
  }

  /* End form Validation */
